{% extends "base.html" %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">

  <img src="{{url_for('static', filename='css/image_principal_EDA.jpg')}}" class="img-fluid" alt="...">

</div>


{% block content %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Project 1</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">Suicides Rates</h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Exploratory data analysis with Python of suicides rates in the world, reported by the WHO from 2000 to 2019 </li>
            </ul>
            <img src="{{url_for('static', filename='css/suicide_stop.jpg.crdownload')}}" class="img-fluid" alt="...">
            <br><br>
      
            <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a href="{{ url_for ('suicides')}}">continue</a></button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Project 2</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">Goodreads Books</h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Exploratory data analysis with Python that would allow recommending books from this platform through data mining</li>
            </ul>

            <img src="{{url_for('static', filename='css/suicide_stop.jpg.crdownload')}}" class="img-fluid" alt="...">
            <br><br>


            <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a href="{{ url_for ('curriculum')}}">continue</a></button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Project 3</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">Goodreads Books</h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Exploratory data analysis with Python that would allow recommending books from this platform through data
                mining</li>
            </ul>
            <img src="{{url_for('static', filename='css/suicide_stop.jpg.crdownload')}}" class="img-fluid" alt="...">

            <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a
                href="{{ url_for ('curriculum')}}">continue</a></button>
                <br><br>
          </div>
        </div>
      </div>
 
    </div>

{% endblock %}

 